.fondorojo{background-color: red;height: 300px;text-align: center;width: 100%;}
    •h1
    .blanco{color: white;}
    .hijosenfila{display: flex;}
    .caja{width: 25%;}
    .imagen1{width: 100%;height: 300px;}
    .imagen2{width: 100%;height: 300px;}
    .imagen3{width: 100%;height: 300px;}
    .imagen4{width: 100%;height: 300px;}
    .titulo{color: •#000;text-align: center;}
    .PUEBLO{text-align: center;}